data/flows.json
[
    {
        "id": "d5c84b8e4d61993e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4441fc2821740b9a",
        "type": "mqtt-broker",
        "name": "Public MQTT Broker",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9da0661df7586145",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "e93b14f74a70e703",
        "type": "inject",
        "z": "d5c84b8e4d61993e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "c2e437f1863147ad"
            ]
        ]
    },
    {
        "id": "c2e437f1863147ad",
        "type": "function",
        "z": "d5c84b8e4d61993e",
        "name": "function 1",
        "func": "msg.payload = {\n    sensor_id: \"TEMP_01\",\n    temperature: (30 + Math.random() * 10).toFixed(2),\n    unit: \"°C\",\n    timestamp: Date.now()\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "019252cb8b3b8f77"
            ]
        ]
    },
    {
        "id": "019252cb8b3b8f77",
        "type": "mqtt out",
        "z": "d5c84b8e4d61993e",
        "name": "",
        "topic": "plant1/area1/temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4441fc2821740b9a",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "51ce02c6b2763693",
        "type": "mqtt in",
        "z": "d5c84b8e4d61993e",
        "name": "",
        "topic": "plant1/area1/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4441fc2821740b9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "5261749e3e60fc08"
            ]
        ]
    },
    {
        "id": "5261749e3e60fc08",
        "type": "function",
        "z": "d5c84b8e4d61993e",
        "name": "function 2",
        "func": "const t = msg.payload;   // incoming JSON from MQTT\n\nmsg.measurement = \"temperature\";   // <-- THIS fixes the error\n\nmsg.payload = {\n  sensor_id: t.sensor_id,\n  value: Number(t.temperature),\n  unit: t.unit\n};\n\nmsg.timestamp = t.timestamp; // optional, but good\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 260,
        "wires": [
            [
                "17a126480af42a86",
                "21f3b9cba690748f"
            ]
        ]
    },
    {
        "id": "17a126480af42a86",
        "type": "influxdb out",
        "z": "d5c84b8e4d61993e",
        "influxdb": "9da0661df7586145",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "sensordata",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "21f3b9cba690748f",
        "type": "debug",
        "z": "d5c84b8e4d61993e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 360,
        "wires": []
    }
]